---
interface Props {
    urls: (string | null)[] | null;
}

const { urls } = Astro.props;
---

<style>
    swiper-container {
        width: 100%;
        height: 100%;
    }

    swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>

<!-- Swiper -->
<swiper-container
    class="mySwiper"
    zoom="true"
    pagination-clickable="true"
    pagination="true"
    navigation="true"
    keyboard="true"
    mousewheel="true"
    space-between="30"
    slides-per-view="auto"
    style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
>
    {
        urls?.map((url) => {
            if (url)
                return (
                    <swiper-slide>
                        <div class="swiper-zoom-container">
                            <img width={100} src={url} alt="" />
                        </div>
                    </swiper-slide>
                );
        })
    }
</swiper-container>

<script
    is:inline
    src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"
></script>
